p{
    font-family:'roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    text-justify: auto;
    line-height: 30px;
    margin: 30px;
    color:$color;
}